﻿@model jnas.Models.Jnasdb.Resource
@using jnas.Models.Jnasdb

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";

    Jnasdb db = new Jnasdb();
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Resources
            <small>Manage My Resources</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/jnas/Administration">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-phone"></i> <a href="/jnas/Administration/Services/Resources">Resources</a>
            </li>
            <li class="active">
                <i class="fa fa-phone"></i> Resources
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<!-- row -->

<div class="row">


    <div class="col-lg-12">

        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Resource</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ResourceState.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ResourceState.name)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.ResourceState1.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ResourceState1.name)
                </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.resource1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.resource1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.resourceTypeId)
                </dt>

                <dd>
                    @{

                        var resourceType = (from tabledata in db.ResourceTypes where tabledata.resourceTypeId == Model.resourceTypeId select tabledata.name).FirstOrDefault();
                    }
                    @resourceType
                    @*@Html.DisplayFor(model => model.resourceTypeId)*@
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.resourceSubTypeId)
                </dt>

                <dd>
                    @{

                        var resourceSubType = (from tabledata in db.ResourceSubTypes where tabledata.resourceSubTypeId == Model.resourceSubTypeId select tabledata.name).FirstOrDefault();
                    }
                    @resourceSubType
                    @*@Html.DisplayFor(model => model.resourceSubTypeId)*@
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.binary)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.binary)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.resourceLinkId)
                </dt>

                <dd>
                    @{
                        string value = "";
                        var resourcelink = (from tabledata in db.ResourceLinks where tabledata.resourceLinkId == Model.resourceLinkId select new { tabledata.parentResource, tabledata.childResource }).FirstOrDefault();

                        if (resourcelink != null)
                        {
                            int pr = Convert.ToInt32(resourcelink.parentResource);
                            var parentResource = (from tabledata in db.Resources where tabledata.resourceId == pr select tabledata.resource1).FirstOrDefault();
                            int cr = Convert.ToInt32(resourcelink.childResource);
                            var childResource = (from tabledata in db.Resources where tabledata.resourceId == cr select tabledata.resource1).FirstOrDefault();

                            if (!string.IsNullOrEmpty(parentResource) && !string.IsNullOrEmpty(childResource))
                            {
                                value = "Parent: " + parentResource + " Child: " + childResource;
                            }
                            else
                                                if (string.IsNullOrEmpty(parentResource) && !string.IsNullOrEmpty(childResource))
                            {
                                value = "Child: " + childResource;
                            }
                            else
                                        if (!string.IsNullOrEmpty(parentResource) && string.IsNullOrEmpty(childResource))
                            {
                                value = "Parent: " + parentResource;

                            }
                        }
                    }
                    @value
                    @*@Html.DisplayFor(model => model.resourceLinkId)*@
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.resourceStateId)
                </dt>

                <dd>
                    @{

                        var resourceState = (from tabledata in db.ResourceStates where tabledata.resourceStateId == Model.resourceStateId select tabledata.name).FirstOrDefault();
                    }
                    @resourceState
                    @*@Html.DisplayFor(model => model.resourceStateId)*@
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>


    </div>

</div>

<!-- /.row -->

@section menu{
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/jnas/Administration"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            @*@Html.ActionLink("JNAS Admin", "Index", "Home", new { area = "Administration" }, new { @class = "navbar-brand" })*@
        </li>
        <li>
            <a href="/jnas/Administration/Services/StaticData"><i class="fa fa-database"></i> Static Data</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Organizations"><i class="fa fa-university"></i> Organizations</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Users"><i class="fa fa-users"></i> Users</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Resources"><i class="fa fa-phone"></i> Resources</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Applications"><i class="fa fa-file"></i> Applications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/NRUF"><i class="fa fa-upload"></i> NRUF</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Notifications"><i class="fa fa-info-circle"></i> Notifications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Reports"><i class="fa fa-fw fa-bar-chart-o"></i> Reports</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemMessages"><i class="fa fa-exclamation-triangle"></i> System Messages</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemParameters"><i class="fa fa-fw fa-wrench"></i> System Settings</a>
        </li>
        <li>
            <a href="/jnas"><i class="fa fa-external-link"></i> Exit</a>
        </li>
        @*<li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>*@

    </ul>
}
