﻿@model jnas.Models.Jnasdb.Resource
@using jnas.Models.Jnasdb

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";

    Jnasdb db = new Jnasdb();

   
     

    var aging = db.ResourceStates.Where(res => res.name == "Aging").Select(d => d.resourceStateId).FirstOrDefault();

  

   

}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Resources
            <small>Manage My Resources</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/jnas/Administration">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-phone"></i> <a href="/jnas/Administration/Services/Resources">Resources</a>
            </li>
            <li class="active">
                <i class="fa fa-phone"></i> Resources
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<!-- row -->

<div class="row">


    <div class="col-lg-12">


        <h2>Edit</h2>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Resource</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.resourceId)
                <div class="form-group">
                    @Html.LabelFor(model => model.resource1, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if (aging != Model.resourceStateId)
                        {
                             @Html.EditorFor(model => model.resource1, new { htmlAttributes = new { @class = "form-control" } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.resource1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        }
                        @Html.ValidationMessageFor(model => model.resource1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.resourceTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if (aging != Model.resourceStateId)
                        {
                                                @Html.DropDownList("resourceTypeId", null, htmlAttributes: new { @class = "form-control" })
                        }
                        else
                        {
                            @Html.DropDownList("resourceTypeId", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                        }
                        @*@Html.EditorFor(model => model.resourceTypeId, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.resourceTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.resourceSubTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                                @if (aging != Model.resourceStateId)
                                {
                                                        @Html.DropDownList("resourceSubTypeId", null, htmlAttributes: new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.DropDownList("resourceSubTypeId", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                }
                        @*@Html.EditorFor(model => model.resourceSubTypeId, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.resourceSubTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.binary, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if (aging != Model.resourceStateId)
                        {
                                                @Html.EditorFor(model => model.binary, new { htmlAttributes = new { @class = "form-control" } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.binary, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        }
                        @Html.ValidationMessageFor(model => model.binary, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.resourceLinkId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if (aging != Model.resourceStateId)
                        {
                                                @Html.DropDownList("resourceLinkId", null, htmlAttributes: new { @class = "form-control" })
                        }
                        else
                        {
                            @Html.DropDownList("resourceLinkId", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                        }
                        @*@Html.EditorFor(model => model.resourceLinkId, new { htmlAttributes = new { @class = "form-control" }})*@ 
                        @Html.ValidationMessageFor(model => model.resourceLinkId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.resourceStateId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if (aging != Model.resourceStateId)
                        {
                                                @Html.DropDownList("resourceStateId", null, htmlAttributes: new { @class = "form-control" })
                        }
                        else
                        {
                            @Html.DropDownList("resourceStateId", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                        }
                        @*@Html.EditorFor(model => model.resourceStateId, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.resourceStateId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>

</div>

<!-- /.row -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section menu{
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/jnas/Administration"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            @*@Html.ActionLink("JNAS Admin", "Index", "Home", new { area = "Administration" }, new { @class = "navbar-brand" })*@
        </li>
        <li>
            <a href="/jnas/Administration/Services/StaticData"><i class="fa fa-database"></i> Static Data</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Organizations"><i class="fa fa-university"></i> Organizations</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Users"><i class="fa fa-users"></i> Users</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Resources"><i class="fa fa-phone"></i> Resources</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Applications"><i class="fa fa-file"></i> Applications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/NRUF"><i class="fa fa-upload"></i> NRUF</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Notifications"><i class="fa fa-info-circle"></i> Notifications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Reports"><i class="fa fa-fw fa-bar-chart-o"></i> Reports</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemMessages"><i class="fa fa-exclamation-triangle"></i> System Messages</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemParameters"><i class="fa fa-fw fa-wrench"></i> System Settings</a>
        </li>
        <li>
            <a href="/jnas"><i class="fa fa-external-link"></i> Exit</a>
        </li>
        @*<li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>*@

    </ul>
}
