﻿@model IEnumerable<jnas.Models.Jnasdb.Resource>
@using jnas.Models.Jnasdb

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";

    Jnasdb db = new Jnasdb();
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Resources
            <small>Manage My Resources</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/jnas/Administration">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-phone"></i> <a href="/jnas/Administration/Services/Resources">Resources</a>
            </li>
            <li class="active">
                <i class="fa fa-phone"></i> Resources
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<!-- row -->

<div class="row">


    <div class="col-lg-12">

        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table id="jnasdatatables" class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    @*<th>
                        @Html.DisplayNameFor(model => model.ResourceState.name)
                    </th>*@
                    @*<th>
                        @Html.DisplayNameFor(model => model.ResourceState1.name)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.resource1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.resourceTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.resourceSubTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.binary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.resourceLinkId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.resourceStateId)
                    </th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    @*<th>
                        @Html.DisplayNameFor(model => model.ResourceState.name)
                    </th>*@
                    @*<th>
                        @Html.DisplayNameFor(model => model.ResourceState1.name)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.resource1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.resourceTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.resourceSubTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.binary)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.resourceLinkId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.resourceStateId)
                    </th>
                    <th>Controls</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.ResourceState.name)
                        </td>*@
                        @*<td>
                            @Html.DisplayFor(modelItem => item.ResourceState1.name)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.resource1)
                        </td>
                        <td>
                            @{ 
                                
                                var resourceType = (from tabledata in db.ResourceTypes where tabledata.resourceTypeId == item.resourceTypeId select tabledata.name).FirstOrDefault();
                            }
                            @resourceType
                            @*@Html.DisplayFor(modelItem => item.resourceTypeId)*@
                        </td>
                        <td>
                            @{

                                var resourceSubType = (from tabledata in db.ResourceSubTypes where tabledata.resourceSubTypeId == item.resourceSubTypeId select tabledata.name).FirstOrDefault();
                            }
                            @resourceSubType
                            @*@Html.DisplayFor(modelItem => item.resourceSubTypeId)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.binary)
                        </td>
                        <td>
                            @{
                                string value = "";
                                var resourcelink = (from tabledata in db.ResourceLinks where tabledata.resourceLinkId == item.resourceLinkId select new { tabledata.parentResource, tabledata.childResource }).FirstOrDefault();

                                if (resourcelink != null)
                                {
                                    int pr = Convert.ToInt32(resourcelink.parentResource);
                                    var parentResource = (from tabledata in db.Resources where tabledata.resourceId == pr select tabledata.resource1).FirstOrDefault();
                                    int cr = Convert.ToInt32(resourcelink.childResource);
                                    var childResource = (from tabledata in db.Resources where tabledata.resourceId == cr select tabledata.resource1).FirstOrDefault();

                                    if (!string.IsNullOrEmpty(parentResource) && !string.IsNullOrEmpty(childResource))
                                    {
                                        value = "Parent: " + parentResource + " Child: " + childResource;
                                    }
                                    else
                                                        if (string.IsNullOrEmpty(parentResource) && !string.IsNullOrEmpty(childResource))
                                    {
                                        value = "Child: " + childResource;
                                    }
                                    else
                                                if (!string.IsNullOrEmpty(parentResource) && string.IsNullOrEmpty(childResource))
                                    {
                                        value = "Parent: " + parentResource;

                                    }
                                }
                            }
                            @value
                            @*@Html.DisplayFor(modelItem => item.resourceLinkId)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ResourceState.name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.resourceId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.resourceId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.resourceId })
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

</div>

<!-- /.row -->


@section css {
    @Styles.Render("~/Content/DataTablescss")
}

@section scripts {
    @Scripts.Render("~/bundles/DataTablesjs")
    @Scripts.Render("~/bundles/jnasdatatablesjs")
}

@section menu{
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/jnas/Administration"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            @*@Html.ActionLink("JNAS Admin", "Index", "Home", new { area = "Administration" }, new { @class = "navbar-brand" })*@
        </li>
        <li>
            <a href="/jnas/Administration/Services/StaticData"><i class="fa fa-database"></i> Static Data</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Organizations"><i class="fa fa-university"></i> Organizations</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Users"><i class="fa fa-users"></i> Users</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Resources"><i class="fa fa-phone"></i> Resources</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Applications"><i class="fa fa-file"></i> Applications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/NRUF"><i class="fa fa-upload"></i> NRUF</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Notifications"><i class="fa fa-info-circle"></i> Notifications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Reports"><i class="fa fa-fw fa-bar-chart-o"></i> Reports</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemMessages"><i class="fa fa-exclamation-triangle"></i> System Messages</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemParameters"><i class="fa fa-fw fa-wrench"></i> System Settings</a>
        </li>
        <li>
            <a href="/jnas"><i class="fa fa-external-link"></i> Exit</a>
        </li>
        @*<li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>*@

    </ul>
}
