﻿@model IEnumerable<jnas.Models.Jnasdb.Role>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="jnasdatatables" class="table table-striped table-bordered" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Controls</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Controls</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RoleId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RoleId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RoleId })
                </td>
            </tr>
        }
    </tbody>
</table>

@section menu{
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/jnas/Administration"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            @*@Html.ActionLink("JNAS Admin", "Index", "Home", new { area = "Administration" }, new { @class = "navbar-brand" })*@
        </li>
        <li>
            <a href="/jnas/Administration/Services/StaticData"><i class="fa fa-database"></i> Static Data</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Organizations"><i class="fa fa-university"></i> Organizations</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Users"><i class="fa fa-users"></i> Users</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Resources"><i class="fa fa-phone"></i> Resources</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Applications"><i class="fa fa-file"></i> Applications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/NRUF"><i class="fa fa-upload"></i> NRUF</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Notifications"><i class="fa fa-info-circle"></i> Notifications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Reports"><i class="fa fa-fw fa-bar-chart-o"></i> Reports</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemMessages"><i class="fa fa-exclamation-triangle"></i> System Messages</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemParameters"><i class="fa fa-fw fa-wrench"></i> System Settings</a>
        </li>
        <li>
            <a href="/jnas"><i class="fa fa-external-link"></i> Exit</a>
        </li>
        @*<li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>*@

    </ul>
}