﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>The Office of Utilities Regulation (OUR) under the Telecommunications Act 2000 of Jamaica is required to regulate the provision of telecommunication services in Jamaica and to promote competition. The Office is thus mandated to promote and protect the interest of the public, while having due regard to the interests of carriers and Service Provider. The Office must ensure that Service Providers to the telecom market have fair and equitable access to numbering resources for the provision of telecommunications services on a competitively neutral basis. </p>
<p></p>
