﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Office of Utilities Regulation<br />
    3rd Floor PCJ Resource Centre<br />
    36 Trafalgar Road<br />
    Kingston 10<br />
    Jamaica W.I.<br />
    <abbr title="Phone">P:</abbr>
    876.968.6053
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:consumer@our.org.jm">consumer@our.org.jm</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>