﻿
@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>THANK YOU FOR REGISTERING</h2>
<p>
Thank you for registering to the Jamaican Numbering Administration System website. You should receive a confirmation email shortly with your user name and password reminder.
</p>
<p>
Before you can be given access to the website we need to verify your registration, which can take up to 3 working days to process. A notification email will be sent to you once this has been completed.
If you need any help in using this website please <a href="/jnas/Home/Contact">contact us</a>.
</p>

