﻿
@{
    ViewBag.Title = "General Information";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            NRUF
            <small>Manage My NRUF</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/jnas/Administration">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-upload"></i> <a href="/jnas/Administration/Services/NRUF">NRUF</a>
            </li>
            <li class="active">
                <i class="fa fa-upload"></i> NRUF General Information
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<!-- row -->

<div class="row">


    <div class="col-lg-12">



        <h3>GENERAL INFORMATION</h3>

        <p><span style="font-weight:bold">Users that are familiar with these forms may proceed directly to the "Main Menu"</span></p>

        <p>
            This report contains seven forms for collecting utilization and forecast data from carriers.  Which forms should be submitted is determined by whether the carrier is a Primary or Intermeddiate Carrier.
        </p>

        <p>
            All Primary carriers must file at least six forms:  (1) one company information form; (2) two utilization data forms for 1K (NXX-X) and 10K (NXX)  number block reporting (3) one ported-in numbers form to report number ported-in from other carriers and (4) two forecast data forms to report initial and growth codes.  All Intermediate carriers must file at least three forms: (1) one company information form; (2) one utilization data form for 1K (NXX-X)  number block reporting; (3) one ported-in numbers form.  A carrier may need to file all  seven utilization and forecast forms.  For instance, a carrier that receives numbers from both the Numbering Administrator and another carrier must file separately, Primary and Intermediate carrier forms.
        </p>

        <p>
            To proceed, click on the "Company Information" button below and fill in the requested information.  Instructions for filling in company information are on the form.  Once this information is filled in, it is automatically transferred to any other form selected by the user.  After this form is completed, click on the "Main Menu" arrow-button which appears at the end of the "Company Information" form to proceed with the remaining forms.  Users that are familiar with these forms may proceed directly to the forms using the worksheet tabs below.
        </p>



</div>

</div>

<!-- /.row -->


@section menu{
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/jnas/Administration"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            @*@Html.ActionLink("JNAS Admin", "Index", "Home", new { area = "Administration" }, new { @class = "navbar-brand" })*@
        </li>
        <li>
            <a href="/jnas/Administration/Services/StaticData"><i class="fa fa-database"></i> Static Data</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Organizations"><i class="fa fa-university"></i> Organizations</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Users"><i class="fa fa-users"></i> Users</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Resources"><i class="fa fa-phone"></i> Resources</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Applications"><i class="fa fa-file"></i> Applications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/NRUF"><i class="fa fa-upload"></i> NRUF</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Notifications"><i class="fa fa-info-circle"></i> Notifications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Reports"><i class="fa fa-fw fa-bar-chart-o"></i> Reports</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemMessages"><i class="fa fa-exclamation-triangle"></i> System Messages</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemParameters"><i class="fa fa-fw fa-wrench"></i> System Settings</a>
        </li>
        <li>
            <a href="/jnas"><i class="fa fa-external-link"></i> Exit</a>
        </li>
        @*<li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>*@

    </ul>
}
