﻿@model IEnumerable<jnas.Models.Jnasdb.NrufCompanyInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            NRUF
            <small>Manage My NRUF</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/jnas/Administration">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-upload"></i> <a href="/jnas//Administration/Services/NRUF">NRUF</a>
            </li>
            <li class="active">
                <i class="fa fa-upload"></i> NRUF Company Information
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<!-- row -->

<div class="row">


    <div class="col-lg-12">



        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table id="jnasdatatables" class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.applicationReference)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProviderService.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.ParentCompany)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParentCompanyOCN)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.OCN)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.OFN)
                    </th>*@
                    @*<th>
                        @Html.DisplayNameFor(model => model.line1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.line2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.line3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactTelNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactFaxNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactEmail)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.createdDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.expiryDate)
                    </th>
                    <th>Forms</th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.applicationReference)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProviderService.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.ParentCompany)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ParentCompanyOCN)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.OCN)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.OFN)
                    </th>*@
                    @*<th>
                        @Html.DisplayNameFor(model => model.line1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.line2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.line3)
                    </th>*@
                    @*<th>
                        @Html.DisplayNameFor(model => model.ContactName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactTelNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactFaxNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactEmail)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.createdDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.expiryDate)
                    </th>
                    <th>Forms</th>
                    <th>Controls</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>
                            @Html.DisplayFor(model => item.applicationReference)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProviderService.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.ParentCompany)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentCompanyOCN)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.OCN)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.OFN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.line1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.line2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.line3)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactTelNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactFaxNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactEmail)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.createdDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.expiryDate)
                        </td>
                        <td>
                            @Html.ActionLink("Form U1", "Index", "NrufFormU1", new { id = item.NrufCompanyInfoId }, null) |
                            @Html.ActionLink("Form U2", "Index", "NrufFormU2", new { id = item.NrufCompanyInfoId }, null) |
                            @Html.ActionLink("Form U3", "Index", "NrufFormU3", new { id = item.NrufCompanyInfoId }, null) |
                            @Html.ActionLink("Form U4", "Index", "NrufFormU4", new { id = item.NrufCompanyInfoId }, null) |
                            @Html.ActionLink("Form F-3a (Initial Codes)", "Index", "NrufFormF3a", new { id = item.NrufCompanyInfoId }, null) |
                            @Html.ActionLink("Form F-3b (Growth Codes)", "Index", "NrufFormF3b", new { id = item.NrufCompanyInfoId }, null)
                        </td>
                        <td>
                            @Html.ActionLink("Print", "ExportToExcel", new { id = item.NrufCompanyInfoId }) |
                            @Html.ActionLink("Edit", "Edit", new { id = item.NrufCompanyInfoId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.NrufCompanyInfoId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.NrufCompanyInfoId })
                        </td>
                    </tr>
                }
            </tbody>

</table>

    </div>

</div>

<!-- /.row -->

@section css {
    @Styles.Render("~/Content/DataTablescss")
}

@section scripts {
    @Scripts.Render("~/bundles/DataTablesjs")
    @Scripts.Render("~/bundles/jnasdatatablesjs")
}


@section menu{
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/jnas/Administration"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            @*@Html.ActionLink("JNAS Admin", "Index", "Home", new { area = "Administration" }, new { @class = "navbar-brand" })*@
        </li>
        <li>
            <a href="/jnas/Administration/Services/StaticData"><i class="fa fa-database"></i> Static Data</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Organizations"><i class="fa fa-university"></i> Organizations</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Users"><i class="fa fa-users"></i> Users</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Resources"><i class="fa fa-phone"></i> Resources</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Applications"><i class="fa fa-file"></i> Applications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/NRUF"><i class="fa fa-upload"></i> NRUF</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Notifications"><i class="fa fa-info-circle"></i> Notifications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Reports"><i class="fa fa-fw fa-bar-chart-o"></i> Reports</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemMessages"><i class="fa fa-exclamation-triangle"></i> System Messages</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemParameters"><i class="fa fa-fw fa-wrench"></i> System Settings</a>
        </li>
        <li>
            <a href="/jnas"><i class="fa fa-external-link"></i> Exit</a>
        </li>
        @*<li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>*@

    </ul>
}


