﻿
@{
    ViewBag.Title = "Instructions";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            NRUF
            <small>Manage My NRUF</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/jnas/Administration">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-upload"></i> <a href="/jnas/Administration/Services/NRUF">NRUF</a>
            </li>
            <li class="active">
                <i class="fa fa-upload"></i> NRUF General Information
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- row -->

<div class="row">


    <div class="col-lg-12">



        <h3>INSTRUCTIONS</h3>

        <h5><span style="font-weight:bold">When to Submit Reports:</span></h5>

        <p>
            Reporting carriers shall submit utililization and forecast reports semi-annually, on or before February 1 for the preceding 6 month reporting period ending  December 31, and on or before August 1 for the preceding 6 month reporting period ending  June 30.  <span style="font-weight:bold">Reporting is mandatory</span>.
        </p>

        <h5>
            <span style="font-weight:bold">Company Information</span>
        </h5>

        <p>
            Reporting carriers must provide information about their company by filling in the gray boxes on the Company Information worksheet.  The following fields are required: Service Provider Name, Company Address,  Contact Name, Contact Tel#, SP OCN, and SP Service Type.  If any of these fields is not provided, the Form RI-02 will be rejected.  The SP OCN is the 4 character code assigned by NECA for the reporting carrier.  Carriers that have multiple OCNs must submit a separate Form RI-02 for each OCN that they hold numbering resources under.  The SP OFN (a future facility) is the 4 digit OUR Filing Number assigned to the carrier by the Office of Utilities Regulation.
        </p>

        <h5>
            <span style="font-weight:bold">PART 1 - UTILIZATION INSTRUCTIONS</span>
        </h5>

        <p>
            Choose the appropriate utilization form from the "Main Menu" page by clicking on the appropriate button:
        </p>
        <ul>
            <li><span style="font-weight:bold">U1</span> For Primary Carriers <p>All carriers report at 1000 block (NPA-NXX-X) level </p></li>
            <li><span style="font-weight:bold">U2</span> For Primary Carriers <p>All carriers report at NPA-NXX code level </p></li>
            <li><span style="font-weight:bold">U3</span> For Intermediate Carriers <p>All carriers report at 1000 block level </p></li>
            <li><span style="font-weight:bold;color:red">U4</span> <span style="color:red">For All Carriers </span><p><span style="color:red">All carriers report at NPA-NXX code level </span></p></li>

        </ul>

        <p>
            <span style="font-weight:bold">Primary Carriers</span> are required to complete both the U1 and U2 utilization reports and the forecast forms. <span style="font-weight:bold;text-underline-position:below">Note:</span> Separate Utilization Data Report forms must be sumitted for each <span style="font-weight:bold">Service Provider Service Type</span> specified in the <span style="font-weight:bold">Company Information</span>.
</p>

        <p>
            <span style="font-weight:bold">Intermediate Carrier</span> is defined as a carrier that receives numbers from another carrier.  For auditing purposes Mobile Vitual Network Operators (MVNOs) will report number utilization as Intermediate carriers.  Form U3 is used by these carriers to report number utilization.
</p>

         <h5>UTILIZATION DATA:</h5>

        <h5>NPA-NXX</h5>

        <p>
            Primary carriers completing form U2, report utilization at the NXX level. For each NXX in which your company has numbering resources, enter the NPA-NXX and the quantity of <span style="font-weight:bold">Assigned, Intermediate, Reserved, Aging, Administrative</span> and <span style="font-weight:bold; color:red">Ported-out</span> numbers.  Enter one line for each NXX below the Headers.  Do not leave any blank lines between your entries.
</p>

        <h5>NPA-NXX-X</h5>

            <p>
                Primary carriers completing Form U1 report utilization at the 1000 block level.  For each NPA-NXX-X in which your company has numbering resources, enter the NPA-NXX-X and the quantity of <span style="font-weight:bold">Assigned, Intermediate, Reserved, Aging,  Administrative</span> and <span style="font-weight:bold; color:red">Ported-out</span> numbers.   Enter one line for each 1000 block below the Headers.  Do not leave any blank lines between your entries.
</p>

        <h5>
            Rate Centre Name</h5>

        <p>
            Carriers must also enter the name of each Rate Centre in which your company has numbering resources as it appears in the TRA LERG Table 8 under RC ABBREV.  Currently the default Rate Centre <span style="font-weight:bold">"Kingston"</span>  is entered in the LERG for Jamaica's numbering resources. For the purposes of the NRUF, the abbreviation <span style="font-weight:bold">"KGN"</span> is to be used.
</p>

        <h5>Usage Categories</h5>

        <p>
            Each utilization form requires that numbers be reported in five categories as defined in the telecommunications Numbering Rules.  A sixth category, "Available," is automatically calculated and no entry is required.  The "Available" calculation is created when you click on the <span style="font-weight:bold;">"SUBMIT"</span> button.
</p>

        <p>
            <span style="font-weight:bold;">Assigned:</span>  Enter the quantity of Telephone Numbers (TNs) that are classified as "Assigned" for each             identified NPA-NXX or NPA-NXX-X.  Assigned Numbers are defined as numbers that are working in the Public Telephone Networks under an agreement such as a contract for service at the request of  the customers, or numbers not yet working but having a customer service order pending for no more than seven working days.
</p>



        <ul>
            <li>
                <span style="font-weight:bold;color:navy">Intermediate:</span>  Enter the quantity of TNs that are classified as "Intermediate" for each identified NPA-NXX or NPA-NXX-X.  Intermediate numbers are defined as numbers that are made available for use by another telecommunications carrier for the purpose of providing telecommunications service to end users.
</li>

         <li>
             <span style="font-weight:bold;color:red">Ported-out:</span> Enter the quantity of TNs that are ported-out for the 'transfer' of an established customer to another service provider, and in which case the numbers are classified as "Ported-Out" by the Donor Carrier and are not counted as assigned by the Donor Carrier carrier.
</li>

            <li>
                <span style="font-weight:bold;color:red">Ported-In:</span>  Enter the quantity of TNs that are ported-In for the 'transfer' of an established customer from another service provider, and in which case the numbers are classified as "Ported-In" by the Recipient Carrier and are not counted as assigned by the Donor Carrier carrier.
</li>
            </ul>


        <p>
            <span style="font-weight:bold">Reserved:</span> Enter the quantity of TNs that are classified as "Reserved" for each identified NPA-NXX or NPA-NXX-X.  Reserved Numbers are defined as numbers that are held by service providers at the request of customers for their future use.  Numbers held for specific customers for more than 45 days shall not be classified as reserved numbers.  The Office shall determine, after consultation with the industry, the quantity of numbers a carrier may hold in reserve at any one time.
</p>

        <p>
            <span style="font-weight:bold">Aging:</span> Enter the quantity of TNs that are classified as "Aging" for each identified NPA-NXX or NPA-NXX-X.  Aging numbers are defined as disconnected numbers which are not available for reassignment to another customer for a specified period of time mainly to minimize misdirected calls intended for the previous customer when the telephone number has been re-assigned to a new customer.
</p>

        <p>
            <span style="font-weight:bold">Administrative:</span> Enter the quantity of TNs that are classified as "Administrative" for each identified NPA-NXX or NPA-NXX-X.  Administrative numbers are defined as numbers used by telecommunications carriers to perform internal administrative or operational functions necessary to maintain reasonable quality of service standards.
</p>

        <p>
            <span style="font-weight:bold">Quantities of Numbers Received:</span> Enter the total quantity of intermediate numbers received from a Primary Carrier.
</p>

        <p>
            <span style="font-weight:bold">Notes/Assignee/Assignor:</span> Intermediate carriers - enter the 2-letter abbreviated rname of the carrier from which you received intermediate numbers. Primary carriers - enter the  2-letter abbreviated name of the entity to which you gave intermediate numbers.
</p>


        <h5>Completion</h5>

        <p>
            Confirm that  the data requested above has been provided for all of the numbering resources which are asigned to your company then click on the <span style="font-weight:bold">"Submit"</span> button.  Formulas that automatically calculate the'Available' and 'Utilization' values will be added automatically to each row where data has been entered.  <span style="font-weight:bold">The data entered will be checked for format and to see that they are within valid ranges</span>.  Also, each row in which data is entered will automatically be formated for colour, font etc in accordance with the first (defult) row.  Error/Check messages will be added on the right end of each row that should be checked and corrected before submitting the form to the Office of Utilities regulation.
</p>

        <h5>PART 2 - FORECAST INSTRUCTIONS</h5>

        <p>Choose the appropriate forecast form from the "Main Menu" page by clicking on the appropriate button:</p>

        <ul>

            <li><span style="font-weight:bold">F3a</span>   Primary Carriers - Initial</li>
            <li><span style="font-weight:bold">F3b</span>     Primary carriers - Growth</li>
        </ul>

        <h5><span style="font-weight:bold">Carrier Type</span></h5>

        <p>
            <span style="font-weight:bold">Primary Carrier</span> is defined as a carrier that receives numbers directly from the Numbering  Administrator.  Forms F3a and F3b are used by these carriers to forecast number requirements.
        </p>

        <h5><span style="font-weight:bold">Forecast Data</span></h5>

        <p>
            <span style="font-weight:bold">Initial</span> numbering resources are the first numbering resources received by a carrier in a particular area or service category. Enter the number of Initial NXX codes that your company will require for each applicable NPA for the next five years.
</p>

        <p>
            <span style="font-weight:bold">Growth</span> numbering resources are additional numbering resources received by a carrier already established in a particular area or service category.  Enter the number of  Growth NXX codes that your company will require for each applicable NPA for the next five years
</p>




        <h5><span style="font-weight:bold">NPA</span></h5>

            Enter the NPA for which you are providng forecast data.

        <h5><span style="font-weight:bold">Rate Centre Name</span></h5>

            Enter the  Rate Centre name as directed by the OUR.


        <h5><span style="font-weight:bold">COMPLETION</span></h5>

        <p>
            Confirm that the data requested above have been provided for all applicable NPAs and then click on the "Submit" button.  A formula that automatically calculates the Total NXXs or 1K Blocks will be added to each row where data have been entered.   Also, the data entered will be checked for format and to see that thery are within valid ranges.  Error/Check messages will be added on the right end of each row that should be checked and corrected before submitting the form to the Office of Utilities Regulation .
        </p>

        <h5><span style="font-weight:bold">Submit Forms</span></h5>

        <p>
            Save this workbook to a file in an Excel format   Then send an e-mail to the Office of Utilities Regulation at crobinson@our.org.jm with the file you saved attached to the e-mail.    For additional questions or instructions contact the Office of Utilities Regulation at 968-6053.
        </p>





</div>

</div>

<!-- /.row -->


@section menu{
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/jnas/Administration"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            @*@Html.ActionLink("JNAS Admin", "Index", "Home", new { area = "Administration" }, new { @class = "navbar-brand" })*@
        </li>
        <li>
            <a href="/jnas/Administration/Services/StaticData"><i class="fa fa-database"></i> Static Data</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Organizations"><i class="fa fa-university"></i> Organizations</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Users"><i class="fa fa-users"></i> Users</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Resources"><i class="fa fa-phone"></i> Resources</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Applications"><i class="fa fa-file"></i> Applications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/NRUF"><i class="fa fa-upload"></i> NRUF</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Notifications"><i class="fa fa-info-circle"></i> Notifications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Reports"><i class="fa fa-fw fa-bar-chart-o"></i> Reports</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemMessages"><i class="fa fa-exclamation-triangle"></i> System Messages</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemParameters"><i class="fa fa-fw fa-wrench"></i> System Settings</a>
        </li>
        <li>
            <a href="/jnas"><i class="fa fa-external-link"></i> Exit</a>
        </li>
        @*<li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>*@

    </ul>
}
