﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{


            <li>
                <a href="/jnas/Account/ControlPanel" title="Control Panel"><i class="fa fa-fw fa-dashboard"></i> Control Panel</a>
            </li>


}
