﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Jamaica Numbering Administration System</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome-css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- DataTable CSS-->
    @RenderSection("css", required: false)
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("JNAS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/jnas/Home"><i class="fa fa-fw fa-home"></i> Home</a></li>
                    @*<li>@Html.ActionLink("Reports", "Reports", "Home")</li>*@
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/jnas/Home/Reports">
                            <i class="fa fa-fw fa-line-chart"></i> Reports <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="/jnas/Home/Reports"><i class="fa fa-fw fa-line-chart"></i> Report 1</a>
                            </li>
                            <li>
                                <a href="/jnas/Home/Reports"><i class="fa fa-fw fa-line-chart"></i> Report 2</a>
                            </li>
                            <li>
                                <a href="/jnas/Home/Reports"><i class="fa fa-fw fa-line-chart"></i> Report 3</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                    <li><a href="/jnas/Home/About"><i class="fa fa-fw fa-users"></i> About</a></li>
                    <li><a href="/jnas/Home/Contact"><i class="fa fa-fw fa-phone-square"></i> Contact</a></li>
                    @Html.Partial("_ControlPanelPartial")
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Office of Utilities Regulation. All rights reserved. Site designed by <a href="mailto:aj.williams7@yahoo.com?Subject=Contact JNAS Web Developer">Web Developer</a></p>
         </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
