﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/jnas/Manage" title="Manage"><i class="fa fa-user"></i> @User.Identity.Name</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-unlock"></i> Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/jnas/Account/Register" id="registerLink"><i class="fa fa-key"></i> Register</a></li>
        <li><a href="/jnas/Account/Login" id="loginLink"><i class="fa fa-lock"></i> Log in</a></li>

    </ul>
}
