﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error!!</h1>
<h4 class="text-danger">An error occurred while processing your request.</h4>
<p>
  If you need any help in using this website please <a href="/jnas/Home/Contact">contact us</a>.
</p>

