﻿@model jnas.Models.Jnasdb.NrufFormU3

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";
    var compinfo = (int)Session["NrufCompanyInfo"];
    var appRef = Session["AppRef"];
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            NRUF
            <small>Manage My NRUF</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/jnas/Administration">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-upload"></i> <a href="/jnas/Administration/Services/NRUF">NRUF</a>
            </li>
            <li>
                <i class="fa fa-upload"></i> <a href="/jnas/Administration/NrufCompanyInfoes">NRUF Company Information</a>
            </li>
            <li class="active">
                <i class="fa fa-upload"></i> <a href="/jnas/Administration/NrufFormF3a/Index/@Html.Raw(compinfo)">NRUF Form</a>
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- row -->

<div class="row">


    <div class="col-lg-12">


        <h2>Delete</h2>
        <h4>Form U3 - UTILIZATION REPORTING FORM (FOR INTERMEDIATE CARRIERS)</h4>

        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("applicationReference", "Application Reference", htmlAttributes: new { @class = "control-label col-sm-2" })
                <div class="col-sm-4">
                    @Html.TextBox("applicationReference", appRef, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>NrufFormU3</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NrufCompanyInfo.UserId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NrufCompanyInfo.UserId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Npa)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Npa)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nxx)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nxx)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.X)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.X)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Rate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Rate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Assigned)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Assigned)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NumbersReceived)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumbersReceived)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Reserved)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Reserved)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Aging)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Aging)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Admin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Admin)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PortedOut)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PortedOut)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Notes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Notes)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Available)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Available)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Utilization)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Utilization)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index", new { id = compinfo })
                </div>
            }
        </div>

    </div>

</div>

<!-- /.row -->

@section menu{
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/jnas/Administration"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            @*@Html.ActionLink("JNAS Admin", "Index", "Home", new { area = "Administration" }, new { @class = "navbar-brand" })*@
        </li>
        <li>
            <a href="/jnas/Administration/Services/StaticData"><i class="fa fa-database"></i> Static Data</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Organizations"><i class="fa fa-university"></i> Organizations</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Users"><i class="fa fa-users"></i> Users</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Resources"><i class="fa fa-phone"></i> Resources</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Applications"><i class="fa fa-file"></i> Applications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/NRUF"><i class="fa fa-upload"></i> NRUF</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Notifications"><i class="fa fa-info-circle"></i> Notifications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Reports"><i class="fa fa-fw fa-bar-chart-o"></i> Reports</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemMessages"><i class="fa fa-exclamation-triangle"></i> System Messages</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemParameters"><i class="fa fa-fw fa-wrench"></i> System Settings</a>
        </li>
        <li>
            <a href="/jnas"><i class="fa fa-external-link"></i> Exit</a>
        </li>
        @*<li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>*@

    </ul>
}


