﻿@model IEnumerable<jnas.Models.Jnasdb.NrufFormU3>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";
    var appRef = Session["AppRef"];
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            NRUF
            <small>Manage My NRUF</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/jnas/Administration">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-upload"></i> <a href="/jnas/Administration/Services/NRUF">NRUF</a>
            </li>
            <li>
                <i class="fa fa-upload"></i> <a href="/jnas/Administration/NrufCompanyInfoes">NRUF Company Information</a>
            </li>
            <li class="active">
                <i class="fa fa-upload"></i> NRUF Form
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<!-- row -->

<div class="row">


    <div class="col-lg-12">

        <h2>Index</h2>
        <h4>Form U3 - UTILIZATION REPORTING FORM (FOR INTERMEDIATE CARRIERS)</h4>

        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("applicationReference", "Application Reference", htmlAttributes: new { @class = "control-label col-sm-2" })
                <div class="col-sm-4">
                    @Html.TextBox("applicationReference", appRef, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table id="jnasdatatables" class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NrufCompanyInfo.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Npa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nxx)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.X)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assigned)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumbersReceived)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reserved)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Aging)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Admin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PortedOut)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Notes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Available)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Utilization)
                    </th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NrufCompanyInfo.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Npa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nxx)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.X)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assigned)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumbersReceived)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reserved)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Aging)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Admin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PortedOut)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Notes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Available)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Utilization)
                    </th>
                    <th>Controls</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NrufCompanyInfo.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Npa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nxx)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.X)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Assigned)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumbersReceived)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reserved)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Aging)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Admin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PortedOut)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Available)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Utilization)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.FormU3Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.FormU3Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.FormU3Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>

<!-- /.row -->

@section css {
    @Styles.Render("~/Content/DataTablescss")
}

@section scripts {
    @Scripts.Render("~/bundles/DataTablesjs")
    @Scripts.Render("~/bundles/jnasdatatablesjs")
}


@section menu{
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/jnas/Administration"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            @*@Html.ActionLink("JNAS Admin", "Index", "Home", new { area = "Administration" }, new { @class = "navbar-brand" })*@
        </li>
        <li>
            <a href="/jnas/Administration/Services/StaticData"><i class="fa fa-database"></i> Static Data</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Organizations"><i class="fa fa-university"></i> Organizations</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Users"><i class="fa fa-users"></i> Users</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Resources"><i class="fa fa-phone"></i> Resources</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Applications"><i class="fa fa-file"></i> Applications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/NRUF"><i class="fa fa-upload"></i> NRUF</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Notifications"><i class="fa fa-info-circle"></i> Notifications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Reports"><i class="fa fa-fw fa-bar-chart-o"></i> Reports</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemMessages"><i class="fa fa-exclamation-triangle"></i> System Messages</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemParameters"><i class="fa fa-fw fa-wrench"></i> System Settings</a>
        </li>
        <li>
            <a href="/jnas"><i class="fa fa-external-link"></i> Exit</a>
        </li>
        @*<li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>*@

    </ul>
}





