﻿@model jnas.Models.Jnasdb.SystemMessage

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";
}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    System Message
                    <small>Manage My System Message</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/jnas/Administration">Dashboard</a>
                    </li>
                    <li>
                        <i class="fa fa-exclamation-triangle"></i> <a href="/jnas/Administration/Services/SystemMessages">System Message</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-exclamation-triangle"></i> System Message
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- row -->

        <div class="row">


            <div class="col-lg-12">




                <h2>Create</h2>


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>System Message</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.message, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.message, new { htmlAttributes = new { @class = "form-control", @rows = 50, @cols = 100 } })
                                @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.expiryDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.expiryDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.expiryDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.createdDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.createdDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.createdDate, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.dateChanged, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.dateChanged, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.dateChanged, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>

            </div>

        </div>

        <!-- /.row -->
        @section css {
            
            @Styles.Render("~/Content/jqueryuicss")


            }

        @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                    @Scripts.Render("~/bundles/jqueryui")

                <script>
                $(document).ready(function() {
                    $('#expiryDate').datepicker({ dateFormat: 'yy/mm/dd', minDate: 0, maxDate: "+1M +10D" });
                    });
                </script>

        }

                @section menu{
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href = "/jnas/Administration" ><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    @*@Html.ActionLink("JNAS Admin", "Index", "Home", new { area = "Administration" }, new { @class = "navbar-brand" })*@
                </li>
                <li>
                    <a href="/jnas/Administration/Services/StaticData"><i class="fa fa-database"></i> Static Data</a>
                </li>
                <li>
                    <a href="/jnas/Administration/Services/Organizations"><i class="fa fa-university"></i> Organizations</a>
                </li>
                <li>
                    <a href="/jnas/Administration/Services/Users"><i class="fa fa-users"></i> Users</a>
                </li>
                <li>
                    <a href="/jnas/Administration/Services/Resources"><i class="fa fa-phone"></i> Resources</a>
                </li>
                <li>
                    <a href="/jnas/Administration/Services/Applications"><i class="fa fa-file"></i> Applications</a>
                </li>
                <li>
                    <a href="/jnas/Administration/Services/NRUF"><i class="fa fa-upload"></i> NRUF</a>
                </li>
                <li>
                    <a href="/jnas/Administration/Services/Notifications"><i class="fa fa-info-circle"></i> Notifications</a>
                </li>
                <li>
                    <a href="/jnas/Administration/Services/Reports"><i class="fa fa-fw fa-bar-chart-o"></i> Reports</a>
                </li>
                <li>
                    <a href="/jnas/Administration/Services/SystemMessages"><i class="fa fa-exclamation-triangle"></i> System Messages</a>
                </li>
                <li>
                    <a href="/jnas/Administration/Services/SystemParameters"><i class="fa fa-fw fa-wrench"></i> System Settings</a>
                </li>
                <li>
                    <a href="/jnas"><i class="fa fa-external-link"></i> Exit</a>
                </li>
                @*<li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>*@

            </ul>
        }
