﻿
@{
    ViewBag.Title = "NRUF";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            NRUF
            <small>Manage My NRUF</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/jnas/Administration">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-upload"></i> NRUF
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- row -->

<div class="row">

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-database fa-fw"></i> Table Panel</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">

                    <a href="/jnas/Administration/NrufCompanyInfoes/GeneralInfo" class="list-group-item">
                        <span class="badge">ready</span>
                        <i class="fa fa-fw fa-book"></i> NRUF General Information
                    </a>

                    <a href="/jnas/Administration/NrufCompanyInfoes/Instructions" class="list-group-item">
                        <span class="badge">ready</span>
                        <i class="fa fa-fw fa-book"></i> NRUF Instructions
                    </a>

                    <a href="/jnas/Administration/NrufCompanyInfoes/" class="list-group-item">
                        <span class="badge">ready</span>
                        <i class="fa fa-fw fa-book"></i> NRUF Maintenance
                    </a>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- /.row -->
<!-- row -->

<div class="row">

    <div class="col-lg-12">
        <span style="font-weight:lighter">
            NRUF FORM: R1-02
        </span>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-book fa-fw"></i>  Jamaican National Numbering Plan Numbering Resource Utilization/Forecast (NRUF) Report</h3>
            </div>
            <div class="panel-body">
                <p>
                    <span style="font-weight:bold">Notice:</span> The United States and 19 other countries share the ten-digit North American Numbering Plan cooperatively.  Management of this resource therefore requires uniform reporting of utilization and forecast data.  In Jamaica, the Teleommunications Act   gives the Office Utilities Regulation (the OUR) plenary jurisdiction over those aspects of the North American Numbering Plan that pertain to the country.  Pursuant to that authority the OUR developed  the Telecommunication Numbering Rules (Document No. Tel 2009/01: Det 01) that among other things mandated bi-annual  reporting of numbering resource utilization and forecast  by local carriers.
                </p>
                <p>
                    The reported  data will be used by the Office of Utilities Regulation and the North American Numbering Plan Administration (NANPA) to monitor numbering resource utilization by all carriers in order to project the exhaust dates of assigned area codes and the North American Numbering Plan in  general .
                </p>
                <p>
                    Send responses and comments regarding any aspect of this collection of information via email to crobinson@our.org.jm.
                </p>
            </div>

        </div>

    </div>
</div>
<!-- /.row -->


@section menu{
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/jnas/Administration"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            @*@Html.ActionLink("JNAS Admin", "Index", "Home", new { area = "Administration" }, new { @class = "navbar-brand" })*@
        </li>
        <li>
            <a href="/jnas/Administration/Services/StaticData"><i class="fa fa-database"></i> Static Data</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Organizations"><i class="fa fa-university"></i> Organizations</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Users"><i class="fa fa-users"></i> Users</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Resources"><i class="fa fa-phone"></i> Resources</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Applications"><i class="fa fa-file"></i> Applications</a>
        </li>
        <li class="active">
            <a href="/jnas/Administration/Services/NRUF"><i class="fa fa-upload"></i> NRUF</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Notifications"><i class="fa fa-info-circle"></i> Notifications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Reports"><i class="fa fa-fw fa-bar-chart-o"></i> Reports</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemMessages"><i class="fa fa-exclamation-triangle"></i> System Messages</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemParameters"><i class="fa fa-fw fa-wrench"></i> System Settings</a>
        </li>
        <li>
            <a href="/jnas"><i class="fa fa-external-link"></i> Exit</a>
        </li>
        @*<li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>*@

    </ul>
}








