﻿
@{
    ViewBag.Title = "System Settings";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            System Settings
            <small>Manage My System Settings</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/jnas/Administration">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-fw fa-wrench"></i> System Settings
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- row -->

<div class="row">

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-database fa-fw"></i> Table Panel</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    
                    <a href="/jnas/Administration/SystemParameters/" class="list-group-item">
                        <span class="badge">ready</span>
                        <i class="fa fa-fw fa-book"></i> System Parameters maintenance
                    </a>

                </div>
            </div>
        </div>
    </div>

    </div>

<!-- /.row -->

    @section menu{
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="/jnas/Administration"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                @*@Html.ActionLink("JNAS Admin", "Index", "Home", new { area = "Administration" }, new { @class = "navbar-brand" })*@
            </li>
            <li>
                <a href="/jnas/Administration/Services/StaticData"><i class="fa fa-database"></i> Static Data</a>
            </li>
            <li>
                <a href="/jnas/Administration/Services/Organizations"><i class="fa fa-university"></i> Organizations</a>
            </li>
            <li>
                <a href="/jnas/Administration/Services/Users"><i class="fa fa-users"></i> Users</a>
            </li>
            <li>
                <a href="/jnas/Administration/Services/Resources"><i class="fa fa-phone"></i> Resources</a>
            </li>
            <li>
                <a href="/jnas/Administration/Services/Applications"><i class="fa fa-file"></i> Applications</a>
            </li>
            <li>
                <a href="/jnas/Administration/Services/NRUF"><i class="fa fa-upload"></i> NRUF</a>
            </li>
            <li>
                <a href="/jnas/Administration/Services/Notifications"><i class="fa fa-info-circle"></i> Notifications</a>
            </li>
            <li>
                <a href="/jnas/Administration/Services/Reports"><i class="fa fa-fw fa-bar-chart-o"></i> Reports</a>
            </li>
            <li>
                <a href="/jnas/Administration/Services/SystemMessages"><i class="fa fa-exclamation-triangle"></i> System Messages</a>
            </li>
            <li class="active">
                <a href="/jnas/Administration/Services/SystemParameters"><i class="fa fa-fw fa-wrench"></i> System Settings</a>
            </li>
            <li>
                <a href="/jnas"><i class="fa fa-external-link"></i> Exit</a>
            </li>
            @*<li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="#">Dropdown Item</a>
                        </li>
                        <li>
                            <a href="#">Dropdown Item</a>
                        </li>
                    </ul>
                </li>*@

        </ul>
    }








