﻿@model IEnumerable<jnas.Models.Jnasdb.Application>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Applications
            <small>Manage My Applications</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/jnas/Administration">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-file"></i> <a href="/jnas/Administration/Services/Applications">Applications</a>
            </li>
            <li>
                <i class="fa fa-file"></i> Application
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- row -->

<div class="row">


    <div class="col-lg-12">


        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table id="jnasdatatables" class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.applicationReference)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ApplicationState.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplicationType.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Organization.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ResourceSubType1.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ResourceType1.name)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.User1.name)
                    </th>*@

                    <th>
                        @Html.DisplayNameFor(model => model.recipient)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.subscriber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.customerContactNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.localRoutingNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.additionalDocumentation)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.createdDate)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.dateChanged)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.applicationResourceId)
                    </th>*@
                    <th>Controls</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.applicationReference)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplicationState.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplicationType.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Organization.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ResourceSubType1.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ResourceType1.name)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.User1.name)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.recipient)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.subscriber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.customerContactNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.localRoutingNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.additionalDocumentation)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.createdDate)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.dateChanged)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.applicationResourceId)
                    </th>*@
                    <th>Controls</th>
                </tr>
            </tfoot>

            <tbody>
                @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(model => item.applicationReference)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationState.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationType.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Organization.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResourceSubType1.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResourceType1.name)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.User1.name)
                    </td>*@

                    <td>
                        @Html.DisplayFor(modelItem => item.recipient)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.subscriber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.customerContactNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.localRoutingNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.additionalDocumentation)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.createdDate)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.dateChanged)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.applicationResourceId)
                    </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.applicationId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.applicationId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.applicationId })
                    </td>
                </tr>
                }
            </tbody>
        </table>


    </div>

</div>

<!-- /.row -->

@section css {
    @Styles.Render("~/Content/DataTablescss")
}

@section scripts {
    @Scripts.Render("~/bundles/DataTablesjs")
    @Scripts.Render("~/bundles/jnasdatatablesjs")
}




@section menu{
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/jnas/Administration"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            @*@Html.ActionLink("JNAS Admin", "Index", "Home", new { area = "Administration" }, new { @class = "navbar-brand" })*@
        </li>
        <li>
            <a href="/jnas/Administration/Services/StaticData"><i class="fa fa-database"></i> Static Data</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Organizations"><i class="fa fa-university"></i> Organizations</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Users"><i class="fa fa-users"></i> Users</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Resources"><i class="fa fa-phone"></i> Resources</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Applications"><i class="fa fa-file"></i> Applications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/NRUF"><i class="fa fa-upload"></i> NRUF</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Notifications"><i class="fa fa-info-circle"></i> Notifications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Reports"><i class="fa fa-fw fa-bar-chart-o"></i> Reports</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemMessages"><i class="fa fa-exclamation-triangle"></i> System Messages</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemParameters"><i class="fa fa-fw fa-wrench"></i> System Settings</a>
        </li>
        <li>
            <a href="/jnas"><i class="fa fa-external-link"></i> Exit</a>
        </li>
        @*<li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>*@

    </ul>
}
