﻿@model jnas.Models.Jnasdb.Address

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Organization's Address
            <small>Manage My Organization's Address</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/jnas/Administration">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-university"></i> <a href="/jnas/Administration/Services/Organizations">Organizations</a>
            </li>
            <li class="active">
                <i class="fa fa-university"></i> Organization's Address
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<!-- row -->

<div class="row">


    <div class="col-lg-12">


        <h2>Details</h2>

        <div>
            <h4>Address</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Organization1.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Organization1.name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.line1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.line1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.line2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.line2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.city)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.city)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.zipCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.zipCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.defaultAddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.defaultAddress)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.AddressId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>

</div>

<!-- /.row -->

@section menu{
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/jnas/Administration"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            @*@Html.ActionLink("JNAS Admin", "Index", "Home", new { area = "Administration" }, new { @class = "navbar-brand" })*@
        </li>
        <li>
            <a href="/jnas/Administration/Services/StaticData"><i class="fa fa-database"></i> Static Data</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Organizations"><i class="fa fa-university"></i> Organizations</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Users"><i class="fa fa-users"></i> Users</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Resources"><i class="fa fa-phone"></i> Resources</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Applications"><i class="fa fa-file"></i> Applications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/NRUF"><i class="fa fa-upload"></i> NRUF</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Notifications"><i class="fa fa-info-circle"></i> Notifications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Reports"><i class="fa fa-fw fa-bar-chart-o"></i> Reports</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemMessages"><i class="fa fa-exclamation-triangle"></i> System Messages</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemParameters"><i class="fa fa-fw fa-wrench"></i> System Settings</a>
        </li>
        <li>
            <a href="/jnas"><i class="fa fa-external-link"></i> Exit</a>
        </li>
        @*<li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>*@

    </ul>
}
