﻿@using Microsoft.AspNet.Identity
@using jnas.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()


     @*<a href="/jnas/manage/index"><i class="fa fa-user"></i> @User.Identity.Name</a><a href="javascript:document.getElementById(' logoutform').submit()"><i class="fa fa-unlock"></i> Log off</a>*@
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li>
            <a href="/jnas/manage/index"><i class="fa fa-user fa-fw"></i> @User.Identity.Name</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="javascript:document.getElementById(' logoutform').submit()"><i class="fa fa-unlock fa-fw"></i> Log off</a>
        </li>
    </ul>
    }
}
else
{
    <a href="/jnas/account/login"><i class="fa fa-lock"></i> Log in</a>

}

