﻿@using jnas.Models.Jnasdb
@model IEnumerable<ReportOnNXXAndNPACodes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";

    var reportKeyList = ViewBag.ReportKeyList as List<ReportOnNXXAndNPACodesKey>;
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard
            <small>Manage My Dashboard</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i>  <a href="/jnas/Administration">Dashboard</a>
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<!-- row -->

<div class="row">


    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-line-chart"></i> NXX PLAN FOR NPA <form name="npaform" id="npaform" action="/jnas/Administration/Home/Index" method="get"><select name="id" id="id"><option>Select NPA Code</option><option >876</option><option>877</option></select></form></h3>
            </div>
            <div class="panel-body">

                <h2>Report NPA Code @ViewBag.NPA</h2>


                <table id="jnasdatatables" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @*@Html.DisplayNameFor(model => model.Organization)*@
                                NX\X
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.AppResState)*@
                                Service Allocation
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.AppResourceDate)*@
                                0
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.applicationTypeId)*@
                                1
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.ResourceTypeName)*@
                                2
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.ResourceSubTypeName)*@
                                3
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.AppResourceDate)*@
                                4
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.applicationTypeId)*@
                                5
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.ResourceTypeName)*@
                                6
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.ResourceSubTypeName)*@
                                7
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.AppResourceDate)*@
                                8
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.applicationTypeId)*@
                                9
                            </th>

                            @*<th>Controls</th>*@
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @*@Html.DisplayNameFor(model => model.Organization)*@
                                NX\X
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.AppResState)*@
                                Service Allocation
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.AppResourceDate)*@
                                0
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.applicationTypeId)*@
                                1
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.ResourceTypeName)*@
                                2
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.ResourceSubTypeName)*@
                                3
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.AppResourceDate)*@
                                4
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.applicationTypeId)*@
                                5
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.ResourceTypeName)*@
                                6
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.ResourceSubTypeName)*@
                                7
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.AppResourceDate)*@
                                8
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.applicationTypeId)*@
                                9
                            </th>

                            @*<th>Controls</th>*@
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NX)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServiceAllocation)
                                </td>
                                <td style="@Html.Raw(item.X_0_CellStyle)">
                                    @Html.DisplayFor(modelItem => item.X_0)
                                </td>
                                <td style="@Html.Raw(item.X_1_CellStyle)">
                                    @Html.DisplayFor(modelItem => item.X_1)
                                </td>
                                <td style="@Html.Raw(item.X_2_CellStyle)">
                                    @Html.DisplayFor(modelItem => item.X_2)
                                </td>
                                <td style="@Html.Raw(item.X_3_CellStyle)">
                                    @Html.DisplayFor(modelItem => item.X_3)
                                </td>
                                <td style="@Html.Raw(item.X_4_CellStyle)">
                                    @Html.DisplayFor(modelItem => item.X_4)
                                </td>
                                <td style="@Html.Raw(item.X_5_CellStyle)">
                                    @Html.DisplayFor(modelItem => item.X_5)
                                </td>
                                <td style="@Html.Raw(item.X_6_CellStyle)">
                                    @Html.DisplayFor(modelItem => item.X_6)
                                </td>
                                <td style="@Html.Raw(item.X_7_CellStyle)">
                                    @Html.DisplayFor(modelItem => item.X_7)
                                </td>
                                <td style="@Html.Raw(item.X_8_CellStyle)">
                                    @Html.DisplayFor(modelItem => item.X_8)
                                </td>
                                <td style="@Html.Raw(item.X_9_CellStyle)">
                                    @Html.DisplayFor(modelItem => item.X_9)
                                </td>

                                @*<td>

                                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
                <br>
                <hr>
                <br>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Key
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                Key
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in reportKeyList)
                        {
                            <tr>
                                <td>
                                    @item.Key
                                </td>
                                <td style="@Html.Raw(item.CellStyle)">@Html.DisplayFor(modelItem => item.CellText)</td>
                            </tr>
                        }
                    </tbody>
                </table>



            </div>
            @*<div class="panel-footer">
            
                            
            </div>*@
        </div>
    </div>


</div>

<!-- /.row-->
<!-- row -->

<div class="row">

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Task Panel</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">

                    @if (ViewBag.SeedDatabase == 0)
                    {
                        <a href="/jnas/Administration/Home/SeedDatabase" class="list-group-item">
                            <span class="badge">To be completed</span>
                            <i class="fa fa-fw fa-book"></i> Seed Database
                        </a>
                    }


                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-fw fa-envelope"></i> Inbox Panel</h3>
            </div>
            <div class="panel-body">
                @*<div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge">just now</span>
                        <i class="fa fa-fw fa-calendar"></i> Calendar updated
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">4 minutes ago</span>
                        <i class="fa fa-fw fa-comment"></i> Commented on a post
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">23 minutes ago</span>
                        <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">46 minutes ago</span>
                        <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">1 hour ago</span>
                        <i class="fa fa-fw fa-user"></i> A new user has been added
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">2 hours ago</span>
                        <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">yesterday</span>
                        <i class="fa fa-fw fa-globe"></i> Saved the world
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">two days ago</span>
                        <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
                    </a>
                </div>*@
                <div class="text-right">
                    <a href="/jnas/Administration/Home/Mail">View All Mail <i class="fa fa-arrow-circle-right"></i></a>
                </div>




            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-exclamation-triangle"></i> System Messages Panel</h3>
            </div>
            <div class="panel-body">
                @*<div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge">just now</span>
                        <i class="fa fa-fw fa-calendar"></i> Calendar updated
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">4 minutes ago</span>
                        <i class="fa fa-fw fa-comment"></i> Commented on a post
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">23 minutes ago</span>
                        <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">46 minutes ago</span>
                        <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">1 hour ago</span>
                        <i class="fa fa-fw fa-user"></i> A new user has been added
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">2 hours ago</span>
                        <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">yesterday</span>
                        <i class="fa fa-fw fa-globe"></i> Saved the world
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">two days ago</span>
                        <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
                    </a>
                </div>*@
                <div class="text-right">
                    <a href="/jnas/Administration/Services/SystemMessages">View All System Messages <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.row-->
<!-- row-->



@section css {
    @Styles.Render("~/Content/DataTablescss")
}

@section scripts {
    @Scripts.Render("~/bundles/DataTablesjs")
    @Scripts.Render("~/bundles/jnasdatatablesjs")
    @Scripts.Render("~/bundles/jnasNPAselectjs")

}

@section menu{
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="/jnas/Administration"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            @*@Html.ActionLink("JNAS Admin", "Index", "Home", new { area = "Administration" }, new { @class = "navbar-brand" })*@
        </li>
        <li>
            <a href="/jnas/Administration/Services/StaticData"><i class="fa fa-database"></i> Static Data</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Organizations"><i class="fa fa-university"></i> Organizations</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Users"><i class="fa fa-users"></i> Users</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Resources"><i class="fa fa-phone"></i> Resources</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Applications"><i class="fa fa-file"></i> Applications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/NRUF"><i class="fa fa-upload"></i> NRUF</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Notifications"><i class="fa fa-info-circle"></i> Notifications</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/Reports"><i class="fa fa-fw fa-bar-chart-o"></i> Reports</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemMessages"><i class="fa fa-exclamation-triangle"></i> System Messages</a>
        </li>
        <li>
            <a href="/jnas/Administration/Services/SystemParameters"><i class="fa fa-fw fa-wrench"></i> System Settings</a>
        </li>
        <li>
            <a href="/jnas"><i class="fa fa-external-link"></i> Exit</a>
        </li>
        @*<li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>*@

    </ul>
}

